Repository Ramansaha/Task_Tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && npm run lint -- --fix, cd backend && npm run lint -- --fix

fix: resolve linting errors in Dashboard and Login components
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Login.jsx
Due: cd frontend && npm run lint -- --fix

Fix : removed unused variables
  frontend/eslint.config.js
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Login.jsx
Due: cd frontend && npm run lint -- --fix

fix: resolve all linting errors and configure ESLint for Node.js
  backend/controllers/auth/auth.js
  backend/controllers/task/task.js
  backend/eslint.config.js
  backend/helper/apiResponse.js
  backend/package-lock.json
  backend/package.json
  backend/routes/task/task.js
  frontend/src/pages/Dashboard.jsx
Due: cd frontend && npm run lint -- --fix, cd backend && npm run lint -- --fix

Feat : Implemented postgress for task and mongo for user specific
  SETUP_CI_CD.md
  backend/config/postgresConn.js
  backend/controllers/task/task.js
  backend/models/task/taskPostgres.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  docker-compose.yml
  frontend/src/pages/Dashboard.jsx
Due: cd frontend && npm run lint -- --fix, cd backend && npm run lint -- --fix

Feat : Added edit functionality to task and updated ReadMe file
  README.md
  backend/controllers/task/task.js
  frontend/src/components/AddTaskModal.jsx
  frontend/src/pages/Dashboard.jsx
Due: cd frontend && npm run lint -- --fix, cd backend && npm run lint -- --fix

Fix : Updated success notification to toast notification
  SETUP_CI_CD.md
  frontend/src/index.css
  frontend/src/pages/Dashboard.jsx
Due: cd frontend && npm run lint -- --fix

[Feat] : improve table UI/UX and fix filter functionality
  backend/controllers/task/task.js
  backend/helper/postgres.js
  frontend/src/pages/Dashboard.jsx
Due: cd frontend && npm run lint -- --fix, cd backend && npm run lint -- --fix

Fix: Stabilize action buttons position in task table and updated position of notification toast
  frontend/src/pages/Dashboard.jsx
Due: cd frontend && npm run lint -- --fix

[Feat] : Add unit and integration tests with CI/CD scoped execution
  .github/workflows/ci.yml
  TESTING.md
  backend/__tests__/integration/auth.routes.test.js
  backend/__tests__/integration/task.routes.test.js
  backend/__tests__/setup.js
  backend/__tests__/unit/controllers/auth.test.js
  backend/__tests__/unit/controllers/task.test.js
  backend/__tests__/unit/helper/apiResponse.test.js
  backend/__tests__/unit/helper/mongo.test.js
  backend/__tests__/unit/helper/postgres.test.js
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  frontend/.npmrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/components/AddTaskModal.test.jsx
  frontend/src/__tests__/components/ConfirmationModal.test.jsx
  frontend/src/__tests__/pages/Dashboard.test.jsx
  frontend/src/__tests__/pages/Login.test.jsx
  frontend/src/__tests__/pages/Signup.test.jsx
  frontend/src/__tests__/setup.js
  frontend/src/components/AddTaskModal.jsx
  frontend/vite.config.js
  scripts/get-affected-tests.js
Due: cd frontend && npm run lint -- --fix, cd backend && npm run lint -- --fix

[Fix] : Fixed vite issue
  frontend/package-lock.json
  frontend/package.json
Due: none

Fix: Quote job names in CI workflow to resolve YAML syntax error
  .github/workflows/ci.yml
Due: none

Fix: Resolve ESLint errors in test files and clean up unused imports
  backend/__tests__/integration/auth.routes.test.js
  backend/__tests__/integration/task.routes.test.js
  backend/__tests__/unit/controllers/task.test.js
  backend/controllers/task/task.js
  frontend/eslint.config.js
  frontend/src/__tests__/setup.js
Due: cd frontend && npm run lint -- --fix, cd backend && npm run lint -- --fix

Fix : fixed set up files
  .github/workflows/ci.yml
  scripts/get-affected-tests.js
Due: none

Feat : Added date based filter functionality
  backend/controllers/task/task.js
  frontend/src/pages/Dashboard.jsx
Due: cd frontend && npm run lint -- --fix, cd backend && npm run lint -- --fix

Fix : Fixed lint error and modified package.json file
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
Due: cd frontend && npm run lint -- --fix

Fix : Removed the empty if to follow ESLint rules
  backend/controllers/task/task.js
Due: cd backend && npm run lint -- --fix

Path conditions:
  cd frontend && npm run lint -- --fix: any of: frontend/**/*.{js,jsx}
  cd backend && npm run lint -- --fix: any of: backend/**/*.js
